.hire-range-slider {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-drag: none;
    user-drag: none;
	cursor: pointer;
	width: 100%;
	stroke: #f1ebe6;
	fill: #f1ebe6;
}

.hire-range-slider .range-line {
	stroke-width: 8;
	
}

.hire-range-slider:hover > .range-line {
	
}

.hire-range-slider .range-line circle {
	stroke-width: 0;
}

.hire-range-slider .range-line circle.hovering {
	fill: #bda47e;
}

.hire-range-slider .range-line path.hovering {
	stroke: #bda47e;
}